<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modern Business - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/modern-business.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="../index.html">CAL FIRE/San Luis Obispo County Fire</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto"> 
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" 
            aria-haspopup="true" aria-expanded="false">
              Department
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
              <a class="dropdown-item" href="/Department/admin.html">Administration</a>
              <a class="dropdown-item" href="/Department/stations.html">Stations</a>
              <a class="dropdown-item" href="/Department/commandcenter.html">Command Center</a>
              <a class="dropdown-item" href="/Department/plans.html">Plans</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" 
            aria-haspopup="true" aria-expanded="false">
              Information
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
              <a class="dropdown-item" href="blog-home-1.html">Fire Prevention</a>
              <a class="dropdown-item" href="blog-post.html">EMS</a>
              <a class="dropdown-item" href="/Information/emergencyplan.html">Emergency Planning</a>                
              <a class="dropdown-item" href="/Information/gisprefire.html">GIS Pre-Fire</a>
              <a class="dropdown-item" href="blog-post.html">Operations</a>
              <a class="dropdown-item" href="blog-post.html">Careers</a>
            </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" 
              aria-haspopup="true" aria-expanded="false">
                Services
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                <a class="dropdown-item" href="/Services/burnpermits.html">Fire Burn Permits</a>
                <a class="dropdown-item" href="http://www.preventwildfireca.org/Permits/">Campfire Permits</a>
                <a class="dropdown-item" href="/Services/training.html ">Training</a>
              </div>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" 
            aria-haspopup="true" aria-expanded="false">
              Other
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
              <a class="dropdown-item" href="full-width.html">City Agencies</a>
              <a class="dropdown-item" href="sidebar.html">State Agencies</a>
              <a class="dropdown-item" href="faq.html">Federal Agencies</a>
              <a class="dropdown-item" href="404.html">Photo Gallery</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Full Width
        <small>Subheading</small>
      </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="../index.html">Home</a>
        </li>
        <li class="breadcrumb-item active">Full Width</li>
      </ol>

      <p>Most of Start Bootstrap's unstyled templates can be directly integrated into the Modern Business template. You can view all of our unstyled templates on our website at
        <a href="http://startbootstrap.com/template-categories/unstyled">http://startbootstrap.com/template-categories/unstyled</a>.</p>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="footer-container">
            <div class="footer-div">
                <ul>
                  <li><a href="#">Footer link 1</a></li>
                  <li><a href="#">Footer link 2</a></li>
                  <li><a href="#">Footer link 3</a></li>
                </ul>
              </div>
            <div class="footer-div">
                <ul>
                  <li><a href="#">Footer link 4</a></li>
                  <li><a href="#">Footer link 5</a></li>
                  <li><a href="#">Footer link 6</a></li>
                </ul>
              </div>
              <div class="footer-div">
                <ul>
                  <li><a href="#">Footer link 7</a></li>
                  <li><a href="#">Footer link 8</a></li>
                  <li><a href="#">Footer link 9</a></li>
                </ul>
              </div>
        </div>
      </div>
        <div class="container">
          <p class="m-0 text-center text-white">Copyright &copy; CAL FIRE/ San Luis Obispo County Fire Department 2017</p>
        </div>
        <!-- /.container -->
      </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
