<div class="col">
    <h4>Earthquake Information</h4>
    <h6>If you are indoors when shaking starts:</h6>
    <ul style="list-style-type: circle;">
        <li>“DROP, COVER AND HOLD ON.” If you are not near a strong table or desk, drop to the floor against an interior wall and cover your head and neck with your arms.</li>
        <li>Avoid windows, hanging objects, mirrors, tall furniture, large appliances and cabinets filled with heavy objects.</li>
        <li>Do not try to run out of the structure during strong shaking.</li>
        <li>If you are downtown, it is safer to remain inside a building after an earthquake unless there is a fire or gas leak. Glass from multi-story buildings does not always fall straight down; it can catch a wind current and travel great distances.</li>
        <li>If you are in bed, stay there and cover your head with a pillow.</li>
        <li>Do not use elevators.</li>
        <li>If you use a wheelchair, lock the wheels and cover your head.</li>
    </ul>
    <h6>If you are outdoors when shaking starts:</h6>
    <ul style="list-style-type: circle;">
        <li>Move to a clear area if you can safely walk. Avoid power lines, buildings and trees.</li>
        <li>If you’re driving, pull to the side of the road and stop. Avoid stopping under overhead hazards</li>
        <li>If you are on the beach, move to higher ground (50 ft above sea level). An earthquake can cause a tsunami.</li>
    </ul>
    <h6>If you are trapped in debris:</h6>
    <ul style="list-style-type: circle;">
        <li>Move as little as possible so that you don’t kick up dust. Cover your nose and mouth with a handkerchief or clothing.</li>
        <li>Tap on a pipe or wall so that rescuers can hear where you are. Use a whistle if one is available. Shout only as a last resort.</li>
    </ul>
    <h6>Once the earthquake shaking stops:</h6>
    <ul style="list-style-type: circle;">
        <li>Check the people around you for injuries; provide first aid. Do not move seriously injured persons unless they are in immediate danger.</li>
        <li>Check around you for dangerous conditions, such as fires, downed power lines and structure damage.</li>
        <li>If you have fire extinguishers and are trained to use them, put out small fires immediately.</li>
        <li>Turn off the gas only if you smell gas.</li>
        <li>Check your phones to be sure they have not shaken off the hook and are tying up a line.</li>
        <li>Inspect your home for damage.</li>
    </ul>
</div>
