<div class="col">
    <h4>Evacuation</h4>
    <h5>Immediate Risk:</h5>
    <p>If you smell gas, smoke or see fire or otherwise fear for your safety, evacuate household occupants immediately.  From a safe location, call 9-1-1.</p>
    <h5>General Evacuation Orders:</h5>
    <a href="http://www.slocounty.ca.gov/Departments/Office-of-Emergency-Services/Before-an-Emergency-All-Hazards/Evacuation-Terminology.aspx">County Evacuation Terminology</a>
    <p>If local officials issue evacuation orders, use the evacuation routes and methods specified; carpool whenever possible. <br>If time allows:</p>
    <ul style="list-style-type: circle;">
        <li>Wear sturdy shoes, long-sleeve shirts and pants.</li>
        <li>Bring car keys, credit cards, road maps, cell phone, charger and important phone numbers.</li>
        <li>If you have a pet, make sure it is wearing a collar, bring it in a pet carrier labeled with your name and the pet’s name. Bring your pet’s Go-bag. </li>
        <li>Lock your home and shut off the water and electricity, but leave gas on unless instructed otherwise.</li>
        <li>Leave a note or tell a neighbor where you are going.</li>
        <li>Once you arrive at a safe location, call your out-of-area emergency contact.</li>
    </ul>
    <h4>Public School Relocation Center</h4>
    <p>Should an emergency at Diablo Canyon Power Plant occur; public, private and parochial schools within the Emergency Planning Zone have emergency plans. If your child's school is not shown on the chart below, ask the school for a copy of its plan.</p>
    <p>As a precaution, public school officials may decide to close their schools and move students to a Public School Relocation Center before any public action is required. They will be moved by bus to a Public School Relocation Center under constant adult supervision. In this case, listen to a local radio or television station for details on school relocation and where to meet your children. News reports will inform you of public schools that take early action to move children. The news reports also will let you know the location to which the children have been moved.</p>
    <p>Parents should not try to pick up children at public schools unless they are directed to do so. This could cause traffic and safety problems for children who are being moved. Also, children already may be at a Public School Relocation Center before parents arrive.</p>
    <p>Day Care or Before/After School Programs: Please check with your children's care provider concerning emergency plans. </p>
    <div class="row">
        <div class="col-md">
            <img src="\images\relocationcenters.gif">
        </div>
    </div>
    <h4>Disaster Shelters</h4>
    <p>Immediately following a large disaster, suitable shelter sites will be selected from a predesignated list based on areas of need and estimated numbers of displaced persons. Each site must be inspected for safety prior to being opened to the public. Therefore, it is not possible to say with advance certainty which sites will actually operate as disaster shelters. As soon as disaster sites have been formally designated, this list will be announced through local media to the public. If it is unsafe to shelter-in-place, and you do not have an alternative, evacuate to a designated emergency shelter.</p>
    <p>Should an emergency at Diablo Canyon Power Plant occur, the primary Congregate Care and Reception Centers would be, Camp Roberts to the North and Santa Maria Fairgrounds to the South.</p>
    <div class="row">
        <div class="col-md">
            <img src="\images\carecenters.gif">
        </div>
    </div>
    <h4>Evacuation Assistance List</h4>
    <p>If you reside in the Emergency Planning Zone and would require special evacuation assistance, please download and print the card below, fill in your information, and mail it to our office. You may also request to have a card mailed  to you by calling the County OES office at 781-5011.</p>
    <p>Once your card is processed, you will receive a confirmation letter and/or information packet.</p>
    <a href="http://www.slocounty.ca.gov/Departments/Office-of-Emergency-Services/Forms-Documents/Evacuation-Assistance-List/Evacuation-Assistance-List-Form.aspx">Evacuation Assistance Request Card</a>
    <p>Send to:
        <br>San Luis Obispo County Office of Emergency Services
        <br>County Government Center Room D-430
        <br>San Luis Obispo. CA 93408
    </p>
</div>