<div class="col">
    <h3>Fire</h3>
    <h4>Structure Fire</h4>
    <h5>If your smoke detector goes off or you see a fire:</h5>
    <ul style="list-style-type: circle;">
        <li>Remain calm and get out.</li>
        <li>If you see smoke under the door, find another way out.</li>
        <li>Feel the door with the back of your hand before you open it. If it is hot, find another way out.</li>
        <li>Drop to the floor to avoid smoke and fumes. Crawl to safety.</li>
        <li>If your clothes catch on fire, STOP where you are, DROP to the ground, and ROLL over and over to smother the flames.</li>
        <li>Call 9-1-1 from a safe location.</li>
        <li>If you are trapped in a burning building, stay near a window and close to the floor. If possible, signal for help.</li>
    </ul>
    <h4>Vegetation Fire</h4>
    <p style="color: red;"><b>
        If you see a wildfire, call 9-1-1. Don't assume that someone else has already called. Describe the location of the fire, speak slowly and clearly, and answer any questions asked by the dispatcher.
    </b></p>
    <h5>Before the fire approaches your house:</h5>
    <ul style="list-style-type: circle;">
        <li><b>Evacuate.</b> Evacuate your pets and all family members who are not essential to preparing the home. Anyone with medical or physical limitations and the young and the elderly should be evacuated immediately.</li>
        <li><b>Wear Protective Clothing.</b></li>
        <li><b>Remove Combustibles.</b> Clear items that will burn from around the house, including wood piles, lawn furniture, barbecue grills, tarp coverings, etc. Move them outside of your defensible space.</li>
        <li><b>Close/Protect Openings.</b> Close outside attic, eaves and basement vents, windows, doors, pet doors, etc. Remove flammable drapes and curtains. Close all shutters, blinds or heavy non-combustible window coverings to reduce radiant heat.</li>
        <li><b>Close Inside Doors/Open Damper.</b> Close alt doors inside the house to prevent draft. Open the damper on your fireplace, but close the fireplace screen.</li>
        <li><b>Shut Off Gas.</b> Shut off any natural gas, propane or fuel oil supplies at the source.</li>
        <li><b>Water.</b> Connect garden hoses. Fill any pools, hot tubs, garbage cans, tubs or other large containers with water.</li>
        <li><b>Pumps.</b> If you have gas-powered pumps for water, make sure they are fueled and ready.</li>
        <li><b>Ladder.</b> Place a ladder against the house in clear view.</li>
        <li><b>Car.</b> Back your car into the driveway and roll up the windows.</li>
        <li><b>Garage Doors.</b> Disconnect any automatic garage door openers so that doors can still be opened by hand if the power goes out. Close all garage doors.</li>
        <li><b>Valuables.</b> Place valuable papers, mementos and anything "you can't live without" inside the car in the garage, ready for quick departure. Any pets still with you should also be put in the car.</li>
    </ul>
    <h5>Preparing to leave:</h5>
    <ul style="list-style-type: circle;">
        <li><b>Lights.</b> Turn on outside lights and leave a light on in every room to make the house more visible in heavy smoke.</li>
        <li><b>Don't Lock Up.</b> Leave doors and windows closed but unlocked. It may be necessary for firefighters to gain quick entry into your home to fight fire. The entire area will be isolated and patrolled by sheriff's deputies or police.</li>
    </ul>
</div>