<div class="col">
    <h4>Hazardous Materials Release</h4>
    <p>
        Listen to local radio or television stations for detailed information and instructions. Follow the instructions carefully. You should stay away from the area to minimize the risk of contamination. Remember that some toxic chemicals are odorless.
    </p>
    <h5>If you are asked to evacuate:</h5>
    <ul style="list-style-type: circle;">
        <li>Do so immediately.</li>
        <li>Stay tuned to a radio or television for information on evacuation routes, temporary shelters, and procedures.</li>
        <li>Follow the routes recommended by the authorities--shortcuts may not be safe. Leave at once.</li>
        <li>If you have time, minimize contamination in the house by closing all windows, shutting all vents, and turning off attic fans.</li>
        <li>Take pre-assembled disaster supplies.</li>
        <li>Remember to help your neighbors who may require special assistance--infants, elderly people and people with disabilities.</li>
    </ul>
    <h5>If you are caught outside:</h5>
    <ul style="list-style-type: circle;">
        <li>Stay upstream, uphill, and upwind! In general, try to go at least one-half mile (usually 8-10 city blocks) from the danger area. </li>
        <li>Move away from the accident scene and help keep others away.</li>
        <li>Do not walk into or touch any spilled liquids, airborne mists, or condensed solid chemical deposits. Try not to inhale gases, fumes and smoke. If possible, cover mouth with a cloth while leaving the area.</li>
        <li>Stay away from accident victims until the hazardous material has been identified.</li>
    </ul>
    <h5>If you are in a motor vehicle:</h5>
    <ul style="list-style-type: circle;">
        <li>Stop and seek shelter in a permanent building.</li>
        <li>If you must remain in your car, keep car windows and vents closed and shut off the air conditioner and heater.</li>
    </ul>
    <h5>If you are asked to stay indoors:</h5>
    <ul style="list-style-type: circle;">
        <li>Bring pets inside.</li>
        <li>Close and lock all exterior doors and windows. Close vents, fireplace dampers, and as many interior doors as possible.</li>
        <li>Turn off air conditioners and ventilation systems. In large buildings, set ventilation systems to 100 percent recirculation so that no outside air is drawn into the building. If this is not possible, ventilation systems should be turned off.</li>
        <li>Go into the pre-selected shelter room. This room should be above ground and have the fewest openings to the outside.</li>
        <li>Seal gaps under doorways and windows with wet towels or plastic sheeting and duct tape.</li>
        <li>Seal gaps around window and air conditioning units, bathroom and kitchen exhaust fans, and stove and dryer vents with duct tape and plastic sheeting, wax paper or aluminum wrap.</li>
        <li>Use material to fill cracks and holes in the room, such as those around pipes.</li>
        <li>If gas or vapors could have entered the building, take shallow breaths through a cloth or a towel. Avoid eating or drinking any food or water that may be contaminated.</li>
    </ul>
    <h4>Shelter Safety for Sealed Rooms</h4>
    <p>Ten square feet of floor space per person will provide sufficient air to prevent carbon dioxide build-up for up to five hours, assuming a normal breathing rate while resting.</p>
    <p>However, local officials are unlikely to recommend the public shelter in a sealed room for more than 2-3 hours because the effectiveness of such sheltering diminishes with time as the contaminated outside air gradually seeps into the shelter. At this point, evacuation from the area is the better protective action to take.</p>
    <p>Also you should ventilate the shelter when the emergency has passed to avoid breathing contaminated air still inside the shelter.</p>
</div>