<div class="col">
    <h4>Power Outage</h4>
    <p>
        Power cuts can occur due to rolling blackouts, extreme weather conditions, or can accompany other disasters such as earthquakes. 
    </p>
    <h5>If there is no power in your neighborhood:</h5>
    <ul style="list-style-type: circle;">
        <li>Turn off and unplug appliances and computers. Leave one light on to indicate when power has been restored.</li>
        <li>Avoid using candles, as they are fire hazards.</li>
        <li>Do not use a gas stove for heating or operate generators indoors (including the garage.) Both could cause carbon monoxide poisoning.</li>
        <li>If a traffic signal is not working, treat it as a stop sign.</li>
        <li>See the Food section to learn about food safety when your refrigerator’s power is off.</li>
    </ul>
    <p>For 24-hour PG&amp;E emergency service, please call 1-800-PGE-5000.</p>
</div>