<div class="col">
    <h4>Pets</h4>
    <p>
        Most disaster shelters cannot accept pets because of health and safety regulations. Service animals for people with disabilities are an exception.
    </p>
    <h5>Plan:</h5>
    <ul style="list-style-type: circle;">
        <li>Arrange for a neighbor to check on your pets and take care of them if a disaster occurs while you are not at home.</li>
        <li>Plan ahead for a friend or relative outside the affected area to shelter your animals if necessary.</li>
        <li>Keep your pet’s ID tags up to date. Consider having your pet micro-chipped.</li>
    </ul>
</div>