<div class="col">
    <h4>Radiation</h4>
    <p>
        The following are guidelines for what you should do if a nuclear power plant emergency occurs. 
        Keep a battery-powered radio with you at all times and listen to the radio for specific instructions. Close and lock doors and windows.
    </p>
    <h5>If you are told to evacuate:</h5>
    <ul style="list-style-type: circle;">
        <li>Keep car windows and vents closed; use re-circulating air.</li>
    </ul>
    <h5>If you are advised to remain indoors:</h5>
    <ul style="list-style-type: circle;">
        <li>Turn off the air conditioner, ventilation fans, furnace, and other air intakes.</li>
        <li>Do not use the telephone unless absolutely necessary.</li>
    </ul>
    <h5>If you suspect you have been exposed to nuclear radiation:</h5>
    <ul>
        <li>Change clothes and shoes.</li>
        <li>Put exposed clothing in a plastic bag.</li>
        <li>Seal the bag and place it out of the way.</li>
        <li>Take a thorough shower.</li>
    </ul>
    <p>
        Keep food in covered containers or in the refrigerator. Food not previously covered should be washed before being put in to containers.
    </p>
    <p>
        Nuclear power plant emergencies are classified into one of four classifications described below. At each level, PG&amp;E would notify local, state and federal officials. These officials would take action as outlined in their emergency plans.
    </p>
    <h5>Unusual Event</h5>
    <p>
        An event which is in process or has occurred and indicates a potential degradation of the level of safety of the plant or indicates a security threat to facility protection. No releases of radioactive material requiring offsite response or monitoring are expected unless further degradation of safety systems occurs.
    </p>
    <p>
        The <b style="font-size: 20px;">Alert</b> classification is characterized by an event that is in process or has occurred which involves an actual or potential substantial degradation of the level of safety of the plant or a security event that involves probable life threatening risk to site personnel or damage to site equipment because of intentional malicious dedicated efforts of a hostile act. Any releases are expected to be limited to small fractions of the Environmental Protection Agency (EPA) Protective Action Guideline exposure levels.
    </p>
    <h5>Site Area Emergency</h5>
    <p>
        Characterized by an event that is in process or has occurred which involves actual or likely major failures of plant functions needed for protection of the public or a security event that results in intentional damage or malicious act; (1) toward site personnel or equipment that could lead to the likely failure of or; (2) that prevents effective access to equipment needed for the protection of the public. Any releases are not expected to result in exposure levels which exceed EPA Protective Action Guideline exposure levels beyond the site boundary.
    </p>
    <h5>General Emergency</h5>
    <p>
        Characterized by an event that is in process or has occurred which involves actual or imminent substantial core degradation or melting with potential for loss of containment integrity or a security event that results in an actual loss of physical control of the facility. Releases can be reasonably expected to exceed EPA Protective Action Guideline exposure levels offsite for more than the immediate site area.
    </p>
</div>