<div class="col">
    <h4>Sheltering in Place</h4>
    <p>
        Sheltering means staying inside with all doors, windows, and ventilation systems closed. Sheltering reduces exposure to the public. It reduces the chances of breathing in or receiving body surface contamination from hazardous materials
    </p>
    <p>
        For example, taking shelter in a wooden house reduces exposure by about 10 percent. A brick or concrete house reduces exposure by about 40 percent. A large office or industrial building can reduce exposure by up to 80 percent.
    </p>
    <p>
        County officials will decide on sheltering or evacuation areas based on the nature of the emergency. You will be told what to do over local radio and television stations.     
    </p>
    <h5>If you are told to take shelter:</h5>
    <ul style="list-style-type: circle;">
        <li>Gather members of household and pets inside (if children are in a public school, do not pick them up unless the school or the Emergency Alert System message instruct you to do so).</li>
        <li>Learn the plans your private school has for emergency evacuations by contacting the school directly.</li>
        <li>Shut and tightly seal all doors and windows. Use duct tape and heavy plastic sheeting or place towels to fill gaps in door frames or windows. Be prepared to improvise and use what you have available.</li>
        <li>Turn off systems that bring in outside air. These include furnaces, fireplaces, air conditioners, vents and clothes dryers.</li>
        <li>Move to the center of the house or to the basement.</li>
        <li>Take a radio with you and stay tuned to a local radio station for continuing information.</li>
        <li>If you must go outside, place a damp cloth or towel over your mouth and nose. This will limit the amount of hazardous materials you breathe in. Limit your time outside as much as possible.</li>
        <li>Take this information with you and refer to the Evacuation section for information. You may be told to evacuate later if the situation changes.</li>
    </ul>
</div>