<div class="col">
    <h4>Sirens</h4>
    <p>
        Early Warning System Sirens can sound to alert residents and visitors to tune to a local radio or television station for more information about an emergency within the County and possibly Diablo Canyon Power Plant. Residents may also be alerted by sirens and loud speakers by police and fire agencies in the case a siren fails to sound.
    </p>
    <h5>If you hear a loud, steady siren for three to five minutes:</h5>
    <ul style="list-style-type: circle;">
        <li>Go indoors and tune to a local radio or television station. Stay tuned and listen for important information and instructions.</li>
        <li>If you are able, go to your neighbors and make sure they are aware to the emergency warning and related emergency actions.</li>
        <li>Tune to Marine channel 16 for emergency information if you are a sea.</li>
        <li>Avoid using the telephone or cell phone.</li>
        <li>Do not call 9-1-1, unless you have a life threatening emergency.</li>
    </ul>
</div>