<div class="col">
    <h4>Storms &amp; Flooding</h4>
    <p>
        Winter and heavy rains can cause floods, landslides, uprooted trees, and downed or broken utility lines in almost any neighborhood.
    </p>
    <h6>During the storm:</h6>
    <ul style="list-style-type: circle;">
        <li>If water has entered a garage or basement, do not walk through it – it may contain hazardous materials.</li>
        <li>Do not try to drive over a flooded road. If your car stalls, abandon it immediately. Attempting to move a stalled vehicle in flood conditions can be fatal.</li>
        <li>Tune to AM Radio or local TV channels for emergency advisories and instructions.</li>
        <li>If you are asked to leave your property, disconnect all electrical appliances.</li>
        <li>Call your local DOT to report fallen trees or tree limbs, or clogged catch basins.</li>
        <li>Call your city's Department of Utilities to report flooded streets.</li>
        <li>Avoid downed power lines and broken gas lines. Report them to your local power and gas providers.</li>
    </ul>
    <b>For 24-hour PG&amp;E emergency service, please call 1-800-PGE-5000.</b>
</div>