<div class="col">
    <h4>Terrorist Event</h4>
    <p>
        Terrorism may involve devastating acts using weapons of mass destruction. These weapons range from chemical agents, biological hazards, a radiological or nuclear device, and other explosives. The primary objective of a terrorist is to create widespread fear.
    </p>
    <h5>If there is a Terrorist Attack:</h5>
    <ul style="list-style-type: circle;">
        <li>Stay calm.</li>
        <li>Be vigilant. Look out for secondary hazards such as falling debris or additional attacks.</li>
        <li>Follow the instructions of emergency service personnel.</li>
    </ul>
    <h5>If you receive a Bomb Threat:</h5>
    <ul>
        <li>Ask the caller the following questions: When is the bomb going to explode? Where is the bomb right now? What kind of bomb is it? What does the bomb look like? Why did you place the bomb? Where are you calling from?</li>
        <li>Record the exact time and length of the call.</li>
        <li>Write down the exact words of the caller.</li>
        <li>Listen carefully to the caller's voice and background noise.</li>
        <li>After you hang up, <b>call 9-1-1</b> immediately from a hard-wired telephone – do not use cell phones to report a bomb threat.</li>
    </ul>
</div>