<div class="col">
    <h4>Schedule</h4>
    <iframe src="https://calendar.google.com/calendar/embed?src=training.slu%40gmail.com&ctz=America/Los_Angeles" height="700" width="100%"></iframe>
    <hr class="page-section-break">

    <h5>Events</h5>
    <table>
        <tr>
            <td><b>Course/Event</b></td>
            <td><b>Dates</b></td>
        </tr>
        <tr>
            <td>SLU - CPT #2</td>
            <td>January 10 - 12, 2018</td>
        </tr>
        <tr>
            <td><a href="/Documents/Services/Training/SLO.County.Volunteer.FF.Acad.--flyer-registration-030418-PCF.Academy-fillable-.pdf">SLO COUNTY VOLUNTEER FIRE FIGHTER ACADEMY</a></td>
            <td>February 17, 18; 24, 25; March 3, 4 2018</td>
        </tr>
        <tr>
            <td>SLU - CPT #3</td>
            <td>February 22 - 24, 2018</td>
        </tr>
        <tr>
            <td>SLU - CPT #4</td>
            <td>March 16 - 18, 2018</td>
        </tr>
    </table>
    <hr class="page-section-break">
</div>