<div class="col">
    <h4>Staff</h4>
    <h5>Battalion Chief George Huang</h5>
    <p>
        Email: <a href="mailto:george.huang@fire.ca.gov">george.huang@fire.ca.gov</a>
        <br>Office: (805) 528-2160 ext. 201
        <br>Cell: (805) 903-3419
    </p>

    <div class="row">
        <div class="col">
            <h5>Fire Captain April Mangles</h5>
            <p>
                Email: <a href="mailto:april.mangles@fire.ca.gov">april.mangles@fire.ca.gov</a>
                <br>Office: (805) 528-2160 ext. 202
                <br>Cell: (805) 903-3438
            </p>
        </div>
        <div class="col">
            <h5>Fire Captain Louis Ermigarat</h5>
            <p>
                Email: <a href="mailto:louis.ermigarat@fire.ca.gov">louis.ermigarat@fire.ca.gov</a>
                <br>Office: (805) 528-2160 ext. 203
                <br>Cell: (805) 90-3439
            </p>
        </div>
        <div class="col">
            <h5>Fire Captain Rob Jenkins (EMS)</h5>
            <p>
                Email: <a href="mailto:rob.jenkins@fire.ca.gov">rob.jenkins@fire.ca.gov</a>
                <br>Office: (805) 528-2160 ext. 209
                <br>Cell: (805) 903-3436
            </p>
        </div>
    </div>
    <h5>Office Tech Mary Meraz</h5>
    <p>
        Email: <a href="mailto:mary.meraz@fire.ca.gov">mary.meraz@fire.ca.gov</a>
        <br>Office: (805) 528-2160 ext. 200
    </p>
    <hr class="page-section-break">
</div>