<div class="col">
    <h4>Bulletins</h4>
    <hr class="page-section-break">
    <h5>Governor's Office of Emergency Services (Cal OES)
        <br>California Specialized Training Institute (CSTI)
    </h5>
    <a href="/Documents/Services/Training/Training Bulletin.pdf">Training Opportunities</a>
    <hr>
    <h5>NEW ISNTRUCTOR REGISTRATION PROCEDURES
        <br>Septemebr 2015
    </h5>
    <p>
            If you are interested in teaching or becoming registered to teach any of the new courses (Instructor I, Instructor II, 
            Company Officer 2A-2E or Chief Fire Officer 3A-D) procedures are now available 
            on the <a href="http://osfm.fire.ca.gov/training/SFTProceduresManual">procedures manual webpage.</a>  
    </p>
    <hr>
    <h5>NATIONAL FIRE ACADEMY OFF-CAMPUS COURSE PROGRAM 
        <br>May 2015
    </h5>
    <p>
        SFT continues direct involvement with the NFA, in delivering various two and six day courses throughout the State.
         <a href="http://osfm.fire.ca.gov/training/pdf/NFAOffCampusCourseProgram.pdf">Read more.</a>
    </p>
    <hr>
    <h5>PRYOR LEARNING SOLUTIONS</h5>
    <p>
        Pryor has helped more than 11 million people reach their career goals by offering comprehensive, affordable and convenient business, compliance and safety training.
         <a href="https://www.pryor.com/?utm_source=house&utm_medium=email&utm_campaign=866087">Read more.</a>
    </p>
    <hr>
    <h5>LEARNING DEVELOPMENT CENTER</h5>
    <p>
        County of San Luis Obispo Course Registration Site. 
         <a href="https://slocoldc.gosignmeup.com/Public/Course/Browse?viewstate=eyJPcGVuTWFpbkNhdGVnb3JpZXMiOnsiMSI6dHJ1ZX0sIkFjdGl2ZUNvdXJzZUNhdGVnb3J5SW5kZXgiOjMsIkFjdGl2ZUNvdXJzZUNhdGVnb3J5SXNTdWJTdWIiOmZhbHNlLCJWaWV3TGlzdFR5cGUiOiJHcmlkIiwiUGFnZSI6MSwiUGFnZVNpemUiOjEwMCwiT3JkZXJCeUZpZWxkIjoiU3lzdGVtRGVmYXVsdCIsIk9yZGVyQnlEaXJlY3Rpb24iOiJBc2NlbmRpbmciLCJDb3Vyc2VBY3RpdmVTdGF0ZSI6IkN1cnJlbnQiLCJNYWluQ2F0ZWdvcnkiOiJMZWFybmluZyAmIERldmVsb3BtZW50IENlbnRlciIsIlN1YkNhdGVnb3J5IjoiQ291cnNlcyIsIlN1YkNhdGVnb3J5SXNTdWJTdWIiOmZhbHNlLCJUZXh0IjoiIiwiRGF0ZUZyb20iOm51bGwsIkRhdGVVbnRpbCI6bnVsbCwiQ2FuY2VsU3RhdGUiOiJOb3RDYW5jZWxsZWQiLCJDb3Vyc2VQb3BvdXQiOjB9#">Read more.</a>           
    </p>
    <hr class="page-section-break">
</div>