<div class="col">
    <h4>Tsunamis</h4>
    <p>
        A local earthquake may generate tsunami waves that can reach shore in minutes. If you are on the beach or other low-lying area close to the ocean or bay, immediately evacuate by walking to higher ground.
    </p>
    <ul style="list-style-type: circle;">
        <li>Officials issue a tsunami warning and order evacuations; </li>
        <li>You hear the Outdoor Warning System and it's not a test day.</li>
        <li>The earth shakes so much that you can’t stand;</li>
        <li>Shaking lasts longer than 20 seconds; and/or</li>
        <li>You notice water receding from the shoreline.</li>
    </ul>
    <h5>Map Links</h5>
    <ul>
        <li><a href="http://www.quake.ca.gov/gmaps/tsunami/tsunami_maps.htm">Is my house in danger?</a></li>
        <li><a href="#">San Luis Obispo County Tsunami Pre-Planning Maps</a></li>
        <li><a href="#">Google Earth California Tsunami Layer</a></button></li>
    </ul>
</div>